* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-mode {
  background-color: #222;
  color: #fff !important;
}

.light-mode {
  background-color: #fff;
  color: #222 !important;
}

/* giúp mình ẩn bớt những đoạn văn dài, biến nó thành ... */
.truncate {
  text-overflow: ellipsis;

  overflow: hidden;

  display: -webkit-box;

  -webkit-box-orient: vertical;

  /* số hàng hiển thị */
  -webkit-line-clamp: 1;
}

.truncate--2 {
  /* số hàng hiển thị */
  -webkit-line-clamp: 2;

  word-break: break-all;
}

.truncate--3 {
  /* số hàng hiển thị */
  -webkit-line-clamp: 3;

  word-break: break-all;
}



