* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-mode {
  background-color: #333 !important;
  color: #ddd !important;
}

.light-mode {
  background-color: #ddd !important;
  color: #333 !important;
}

.container {
  /* margin-top: 40px; */
  /* margin-bottom: 40px; */
  padding: 50px 0;
}


/* giúp mình ẩn bớt những đoạn văn dài, biến nó thành ... */
.truncate {
  text-overflow: ellipsis;

  overflow: hidden;

  display: -webkit-box;

  -webkit-box-orient: vertical;

  /* số hàng hiển thị */
  -webkit-line-clamp: 1;
}

.truncate--2 {
  /* số hàng hiển thị */
  -webkit-line-clamp: 2;

  word-break: break-all;
}

.truncate--3 {
  /* số hàng hiển thị */
  -webkit-line-clamp: 3;

  word-break: break-all;
}



